@import 'task.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: black;
	font-family: 'Overpass', sans-serif;
}

.card {
	position: absolute;
	width: 380px;
	height: 380px;
	top: 50%;
	left: 50%;
    padding: 27px;
	border-radius: 30px;
	transform: translate(-50%, -50%);
    background-color: hsl(216, 12%, 8%);

}

.star-icon {
    position: relative;
	width: 40px;
	height: 40px; 
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
}

.card img {
    position: absolute;
    width: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.text-area {
    text-align: left;
}

.headline {
    color: white;
    margin-top: 25px;
    font-weight: 400;
}


.info {
    margin-top: 15px;
    color:hsl(216, 12%, 54%);
    font-size: 15px;
    font-weight: 400;
    
}


.circle-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.number-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: hsl(213, 19%, 18%);
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color .4s;
}

.number-button:hover {
    background-color: hsl(25, 97%, 53%);
}

.submit-button {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color:white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .4s, color .4s;
}

.submit-button:hover {
    background-color: white;
    color:hsl(25, 97%, 53%);
}

