* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: hsl(216, 12%, 8%);
	font-family: 'Overpass', sans-serif;
}

.card {
	position: absolute;
	width: 380px;
	height: 380px;
	top: 50%;
	left: 50%;
    padding: 27px;
	border-radius: 30px;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(
		180deg,
		hsl(212deg 13% 23%) 0%,
		hsl(214deg 13% 22%) 11%,
		hsl(212deg 12% 21%) 22%,
		hsl(215deg 12% 19%) 33%,
		hsl(216deg 11% 18%) 44%,
		hsl(213deg 11% 17%) 56%,
		hsl(220deg 11% 15%) 67%,
		hsl(217deg 11% 14%) 78%,
		hsl(223deg 11% 13%) 89%,
		hsl(220deg 10% 11%) 100%
	);
}

.star-icon {
    position: relative;
	width: 40px;
	height: 40px; 
    border-radius: 50%;
    background-color: hsl(0, 0%, 38%);
}

img {
    position: absolute;
    width: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.text-area {
    text-align: left;
}

.headline {
    color: white;
    margin-top: 25px;
    font-weight: 400;
}


.info {
    margin-top: 15px;
    color:hsl(216, 12%, 54%);
    font-size: 15px;
    font-weight: 400;
    
}


.circle-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.number-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: white;
    color:hsl(25, 97%, 53%);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}